body{
    background-color: #333333;
}
.block{
    height: 47px; 
    width: 100%; 
    margin: 35px 20px 0 0;
    background: #88B7D5;
    border: 3px solid #C2E1F5;
    position: relative;
}
.block::before, .block::after{
    content: "";
    height: 0; 
    width: 0;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);  
    top: -30px;
    border-bottom: 28px solid #C2E1F5;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.block::after {
    border-bottom: 28px solid #88B7D5;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    top: -26px;
   }
p{
    color: #ffffff;
    text-align: center;
    font-size: 10pt;
}