@using Epam.Task7.UsersAndAwards.Common;
@using Epam.Task7.UsersAndAwards.Entities;

@{
    Layout = "~/_Layout.cshtml";

    var awardLogic = DependencyResolver.AwardLogic;

    if (!User.IsInRole("Admin"))
    {
        Response.Redirect("~");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleActionMenu.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div>
            <h3>About award:</h3>
            <p>
                Title:
                <input type="text" name="title" />
            </p>
            <p>
                Image:
                <input type="file" name="img" />
            </p>
            <input type="submit" value="Add award" />
        </div>
    </form>
</body>
</html>

@if (IsPost)
{
    var title = Request.Params["title"];

    var award = new Award(title);

    awardLogic.Add(award);

    var image = WebImage.GetImageFromRequest();

    if (image != null)
    {
        image.Resize(50, 50, true, false);
        awardLogic.AddImage(award.Id, image.GetBytes());
    }

    <script>alert('Award successfully added');</script>
}
