@using Epam.Task7.UsersAndAwards.Common;

@{
    Layout = "~/_Layout.cshtml";

    if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        Response.Redirect("~");
    }

    var userAccountLogic = DependencyResolver.UserAccountLogic;
}

@if (IsPost)
{
    var userName = Request["userName"];
    var password = Epam.Task11.UsersAndAwards.WebUI.Cs.ForPassword.SHA256(Request["password"]);

    if (userAccountLogic.Login(userName, password))
    {
        FormsAuthentication.SetAuthCookie(userName, createPersistentCookie: true);
    }
    else
    {
        Response.Redirect("~/auth/LogIn");
        return;
    }

    Response.Redirect("~");
    return;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleActionMenu.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="~/auth/LogIn.cshtml" method="post">
        <div>
            <p>Authentication: </p>
            <ul>
                <li>
                    <label for="userName">User Name</label>
                    <input type="text" id="userName" name="userName" />
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" />
                </li>
            </ul>
            <input type="submit" value="LogIn" />
        </div>
    </form>
</body>
</html>

