USE [master]
GO
/****** Object:  Database [Epam.Task12.DB]    Script Date: 14.02.2019 2:20:30 ******/
CREATE DATABASE [Epam.Task12.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Epam.Task12.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Epam.Task12.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Epam.Task12.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Epam.Task12.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Epam.Task12.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Epam.Task12.DB]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 14.02.2019 2:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varbinary](max) NULL,
	[title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varbinary](max) NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](15) NOT NULL,
	[password] [nvarchar](256) NOT NULL,
	[role] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAward](
	[idUser] [int] NOT NULL,
	[idAward] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK1_UserAward] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK1_UserAward]
GO
ALTER TABLE [dbo].[UserAward]  WITH CHECK ADD  CONSTRAINT [FK2_UserAward] FOREIGN KEY([idAward])
REFERENCES [dbo].[Award] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAward] CHECK CONSTRAINT [FK2_UserAward]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
	@title NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [Award](title) 
	VALUES (@title);
END
GO
/****** Object:  StoredProcedure [dbo].[AddImageAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddImageAward]
	@id INT,
	@image VARBINARY(MAX)
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [Award] 
	SET [image] = @image 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[AddImageUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddImageUser]
	@id INT,
	@image VARBINARY(MAX)
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [User] 
	SET image = @image 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
	@firstName NVARCHAR(50),
	@lastName NVARCHAR(50),
	@patronymic NVARCHAR(50),
	@dateOfBirth DATE
AS
BEGIN
	INSERT INTO [User] (firstName, lastName, patronymic, dateOfBirth) 
	VALUES (@firstName, @lastName, @patronymic, @dateOfBirth);
END
GO
/****** Object:  StoredProcedure [dbo].[AddUserAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUserAward]
	@idUser INT,
	@idAward INT
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO [UserAward] (idUser, idAward)
	VALUES (@idUser, @idAward);
END
GO
/****** Object:  StoredProcedure [dbo].[AppointAdmin]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AppointAdmin]
	@userName NVARCHAR(15),
	@role NVARCHAR(5)
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [UserAccount]
	SET [role] = @role
	WHERE userName = @userName;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAward]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    DELETE FROM [Award] 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteImageAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteImageAward]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [Award] 
	SET [image] = NULL 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteImageUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteImageUser]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [User] 
	SET [image] = NULL 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUser]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    DELETE FROM [User] 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUserAward]
	@idAward INT
AS
BEGIN

	SET NOCOUNT ON;

    DELETE FROM [UserAward] 
	WHERE idAward = @idAward;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAwards]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT	[Award].id, 
			[Award].[image], 
			[Award].title
	FROM [Award];
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllFromUserAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllFromUserAward]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT	[UserAward].idUser,
			[UserAward].idAward
	FROM [UserAward];
    
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUserAccount]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUserAccount]

AS
BEGIN

	SET NOCOUNT ON;

    SELECT	[UserAccount].id, 
			[UserAccount].userName, 
			[UserAccount].[password], 
			[UserAccount].[role]
	FROM [UserAccount];
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUsers]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT	[User].id, 
			[User].[image], 
			[User].firstName, 
			[User].lastName, 
			[User].patronymic, 
			[User].dateOfBirth 
	FROM [User];
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardById]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT	[Award].id, 
			[Award].[image], 
			[Award].title
	FROM [Award] WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetRolesForUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetRolesForUser]
	@userName NVARCHAR(15)
AS
BEGIN
	
	SET NOCOUNT ON;

    SELECT DISTINCT [role] 
	FROM [UserAccount] 
	WHERE userName = @userName;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

	SELECT	[User].id, 
			[User].[image], 
			[User].firstName, 
			[User].lastName, 
			[User].patronymic, 
			[User].dateOfBirth 
	FROM [User] WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[GiveAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GiveAward] 
	@idUser INT,
	@idAward INT
AS
BEGIN

	SET NOCOUNT ON;

	INSERT INTO [UserAward](idUser, idAward) 
	VALUES (@idUser, @idAward);
END
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Login]
	@userName NVARCHAR(15),
	@password NVARCHAR(256)
AS
BEGIN

	SET NOCOUNT ON;

    SELECT userName 
	FROM [UserAccount]
	WHERE userName = @userName AND [password] = @password

END
GO
/****** Object:  StoredProcedure [dbo].[Registration]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Registration]
	@userName NVARCHAR(15),
	@password NVARCHAR(256),
	@role NVARCHAR(5)
AS
BEGIN

	SET NOCOUNT ON;
	INSERT INTO [UserAccount] (userName, [password], [role])
	VALUES (@userName, @password, @role);
END
GO
/****** Object:  StoredProcedure [dbo].[UniqueUserName]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UniqueUserName]
	@userName NVARCHAR(15)
AS
BEGIN
	SELECT @userName 
	FROM [UserAccount]
	Where userName = @userName;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAward]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateAward]
	@title NVARCHAR(50),
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [Award] 
	SET		title = @title 
	WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 14.02.2019 2:20:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUser]
	@firstName NVARCHAR(50),
	@lastName NVARCHAR(50),
	@patronymic NVARCHAR(50),
	@dateOfBirth DATE,
	@id INT
AS
BEGIN

	SET NOCOUNT ON;

    UPDATE [User] 
	SET		firstName = @firstName, 
			lastName = @lastName, 
			patronymic = @patronymic, 
			dateOfBirth = @dateOfBirth 
	WHERE id = @id;
END
GO
USE [master]
GO
