@using Epam.Task7.UsersAndAwards.Common;

@{
    Layout = "~/_Layout.cshtml";

    if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        Response.Redirect("~");
    }

    var userAccountLogic = DependencyResolver.UserAccountLogic;

    var userName = Request.Params["userName"];
    var password = Request.Params["password"];
}

@if (IsPost)
{
    password = Epam.Task11.UsersAndAwards.WebUI.Cs.ForPassword.SHA256(Request["password"]);

    if (userAccountLogic.UniqName(Request["userName"]))
    {
        userAccountLogic.Registration(userName, password);
        FormsAuthentication.SetAuthCookie(userName, createPersistentCookie: false);

        Response.Redirect("~");
    }

    Response.Redirect("~/auth/Registration");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleActionMenu.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form method="post">
        <div>
            <p>Registration:</p>
            <ul>
                <li>
                    <label for="userName">User name: </label>
                    <input type="text" id="userName" name="userName" /><br />
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" /><br />
                </li>
            </ul>
            <input type="submit" value="Registration" />
        </div>
    </form>
</body>
</html>
